@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-serif: var(--font-imbue);
  --font-mono: var(--font-nunito);
  --font-sans: var(--font-inter)
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

:root {
  --background: #FAFAFA;
  --text-primary: #1D242B;
  --accent: #0000EE;
  --muted: #717171;
  --muted-foreground: #F3F3F3;
}

.dark {
  --background: #111110;
  --text-primary: #FAFAFA;
  --accent: #0000EE;
  --muted: #B5B3AD;
  --muted-foreground: #3A3A3A;
}

body {
  background: var(--background);
}


