@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-serif: var(--font-imbue);
  --font-mono: var(--font-nunito);
  --font-sans: var(--font-inter)
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

:root {
  --background: #FAFAFA;
  --text-primary: #111111;
  --accent: #0000EE;
  --muted: #646464;
  --muted-foreground: #f3f3f3;
}

.dark {
  --background: #111111;
  --text-primary: #EEEEEE;
  --accent: #0000EE;
  --muted: #B4B4B4;
  --muted-foreground: #1a1a1a;
}

body {
  background: var(--background);
}

.text-base {
  font-size: 1rem;
  line-height: 1.35rem;
  letter-spacing: -0.1px;
  word-spacing: 0.1rem;
  text-align: start;
}

.text-highlight {
  color: var(--text-primary);
}

